<div class ="container">
<h4>Comment</h4>

<% @comments.each do |comment| %>
  <div class="panel panel-default">
   
    <div class="panel-body">
      <%= comment.comment %>
    </div>  
  </div>  
<% end %>

</div>
<br />


